/* Stylesheet */

* {
    font-family:'Roboto' sans-serif;
}
/* Resize .body img later, here now for managability */
.cat img {
    border: 5px solid red;
    max-width: 50px;
    max-height: 50px;
}

.banner {
    display: flex;
    justify-content: space-around;
}

.header,
.footer {
    background-color: #1F2937;
    color: #F9FaF8;
    text-align: center;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    color: hsl(220, 13%, 91%);
    text-decoration: none;
}

.hero {
    display: flex;
}