/* Stylesheet */

* {
    font-family: "Roboto", sans-serif;
}
/* Resize .body img later, here now for managability */
.cat img {
    border: 5px solid red;
    max-width: 50px;
    max-height: 50px;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    display: flex;
    justify-items: space-between;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FaF8;
    padding: 0 160px;
}

.footer {
    text-align: center;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    color: hsl(220, 13%, 91%);
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 40px;
}

.hero .container {
    justify-content: flex-start;
}

.hero img {
    max-width: 400px;
    padding: 0 0 0 24px;
    /* Could use flex to shrink, found easier fix though 
    * flex: 0, 1, auto; (??) */
}

.hero button {
    justify-self: flex-start;
    background-color: #3882F6;
    color:hsl(220, 13%, 91%);
    border-radius: 10px;
    border: none;
    padding: 12px;
}