/* Stylesheet */

* {
    font-family:'Roboto' sans-serif;
}

.banner {
    display: flex;
    justify-content: space-around;
}

.header,
.footer {
    background-color: #1F2937;
    color: #F9FaF8
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    color: hsl(220, 13%, 91%);
    text-decoration: none;
}